<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.IntellectualTaskMapper">
    <resultMap id="intellectualTaskMap" type="com.mall.domain.IntellectualTask">
        <id property="id" column="id"/>
        <result property="productName" column="product_name"/>
        <result property="productBrief" column="product_brief"/>
        <result property="productDetails" column="product_details"/>
        <result property="patentNumber" column="patent_number"/>
        <result property="productCategory" column="product_category"/>
        <result property="industryCategory" column="industry_category"/>
        <result property="productPictureUrl" column="product_picture_url"/>
        <result property="productVideoUrl" column="product_video_url"/>
        <result property="realName" column="real_name"/>
        <result property="mobile" column="mobile"/>
        <result property="state" column="state"/>
        <result property="createUser" column="create_user"/>
        <result property="createDate" column="create_date"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <sql id="columns">
        id, product_name, product_brief, product_details, patent_number,
        product_category, industry_category, product_picture_url, product_video_url,
        real_name, mobile, state, create_user, create_date, update_user, update_date
    </sql>

    <insert id="addIntellectualTask" parameterType="com.mall.domain.IntellectualTask">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO intellectual_task
        (id, product_name, product_brief, product_details, patent_number,
        product_category, industry_category, product_picture_url, product_video_url,
        real_name, mobile, state, create_user, create_date)
        VALUES
        (#{id}, #{productName}, #{productBrief}, #{productDetails}, #{patentNumber},
        #{productCategory}, #{industryCategory}, #{productPictureUrl}, #{productVideoUrl},
        #{realName}, #{mobile}, #{state}, #{createUser}, #{createDate})
    </insert>

    <update id="updateIntellectualTask" parameterType="com.mall.domain.IntellectualTask">
        UPDATE intellectual_task
        <set>
            <if test="productName != null and productName != ''">
                product_name = #{productName},
            </if>
            <if test="productBrief != null and productBrief != ''">
                product_brief = #{productBrief},
            </if>
            <if test="productDetails != null and productDetails != ''">
                product_details = #{productDetails},
            </if>
            <if test="patentNumber != null">
                patent_number = #{patentNumber},
            </if>
            <if test="productCategory != null">
                product_category = #{productCategory},
            </if>
            <if test="industryCategory != null">
                industry_category = #{industryCategory},
            </if>
            <if test="productPictureUrl != null and productPictureUrl != ''">
                product_picture_url = #{productPictureUrl},
            </if>
            <if test="productVideoUrl != null and productVideoUrl != ''">
                product_video_url = #{productVideoUrl},
            </if>
            <if test="realName != null and realName != ''">
                real_name = #{realName},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteIntellectualTask">
        DELETE FROM intellectual_task
        WHERE id IN
        <foreach collection="array" index="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findIntellectualTaskForList" resultMap="intellectualTaskMap">
        select
        <include refid="columns"/>
        FROM intellectual_task
    </select>

    <select id="getIntellectualTaskById" parameterType="java.lang.Long" resultMap="intellectualTaskMap">
        SELECT
        <include refid="columns"/>
        FROM intellectual_task
        WHERE id = #{id}
    </select>
    <select id="countnum" resultType="int">
        SELECT
        count(*)
        FROM intellectual_task
    </select>

    <select id="findByPage" parameterType="Map" resultMap="intellectualTaskMap">
        select
        <include refid="columns" />
        from intellectual_task
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="findByintellectualTask" resultMap="intellectualTaskMap">
        select
        <include refid="columns" />
        FROM intellectual_task
        WHERE product_name LIKE concat(#{productName},'%')
        OR product_brief LIKE concat(#{productBrief},'%')
    </select>


</mapper>