<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.LeaveMessageMapper">
    <resultMap id="leaveMessageMap" type="com.mall.domain.LeaveMessage">
        <id property="id" column="id"/>
        <result property="message" column="message"/>
        <result property="messageState" column="message_state"/>
        <result property="createUser" column="create_user"/>
        <result property="createDate" column="create_date"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <sql id="columns">
        id, message, message_state, create_user, create_date, update_user, update_date
    </sql>
    
    <insert id="addLeaveMessage" parameterType="com.mall.domain.LeaveMessage">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO leave_message
        (id, message, message_state, create_user, create_date)
        VALUES
        (#{id}, #{message}, #{messageState}, #{createUser}, #{createDate})
    </insert>

    <update id="updateLeaveMessage" parameterType="com.mall.domain.LeaveMessage">
        UPDATE leave_message
        <set>
            <if test="message != null and message != ''">
                message = #{message},
            </if>
            <if test="messageState != null">
                message_state = #{messageState},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="createDate != null">
                create_date = #{createDate}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="findLeaveMessageForList" resultMap="leaveMessageMap">
        SELECT <include refid="columns"/> FROM leave_message
    </select>

    <select id="getLeaveMessageById" parameterType="java.lang.Long" resultMap="leaveMessageMap">
        SELECT <include refid="columns"/> FROM leave_message
        WHERE id = #{id}
    </select>

</mapper>