<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.mall.domain.User">
    <id property="id" column="id"/>
    <result property="username" column="user_name"/>
    <result property="password" column="pass_word"/>
    <result property="identity" column="identity"/>
    <result property="mobile" column="mobile"/>
    <result property="idCard" column="id_card"/>
    <result property="headPortrait" column="head_portrait"/>
    <result property="createDate" column="create_date"/>
    <result property="createUser" column="create_user"/>
    <result property="updateDate" column="update_date"/>
    <result property="updateUser" column="update_user"/>
  </resultMap>

  <sql id="column">
    id, user_name, pass_word, identity, mobile, id_card, head_portrait,
    create_date, create_user, update_date, update_user
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="column" />
    from user
    where id = #{id}
  </select>

  <insert id="addUser" parameterType="com.mall.domain.User">
    <selectKey keyProperty="id" resultType="java.lang.Long"
               order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user
    (id, user_name, pass_word, identity, mobile, id_card, head_portrait
    create_date, create_user)
    values
    (#{id}, #{username}, #{password}, #{identity}, #{mobile}, #{idCard}, #{headPortrait},
    #{createDate}, #{createUser})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.mall.domain.User">
    update user
    <set>
      <if test="username != null">
        user_name = #{username},
      </if>
      <if test="password != null">
        pass_word = #{password},
      </if>
      <if test="identity != null">
        identity = #{identity},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="getUserByUsernamePassword" resultMap="BaseResultMap">
    SELECT
    <include refid="column"/>
    from user
    WHERE user_name = #{username}
    and pass_word = #{password}
  </select>

  <select id="getUserByUsername" resultMap="BaseResultMap">
    SELECT
    <include refid="column"/>
    FROM user
    WHERE user_name = #{username}
  </select>
</mapper>