.model {
    height: 507px;
    background-color: #fff;
}
.model1 {
    height: 507px;
    background-color: #fff;
}

.board h2 {
    border-bottom: 1px solid #f3f3f3;
    height: 37px;
    padding-top: 8px;
    margin: 2px 20px 4px 0;
    font-size: 16px;
    color: #ff552e;
    font-weight: 700;
    white-space: nowrap;
}

.board h2 a {
    color: #ff552e;
    font-weight: 700;
}

.tubiao {
    width: 50px;
    height: 50px;
}

.bt {
    line-height: 30px;
    font-size: 14px;
    color: #0E8ED8;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bt1{
    line-height: 30px;
    font-size: 14px;
    color: #0E8ED8;
    display: inline-block;
}

.shu {
    width: 20px;
    height: 120px;
    float: left;
}

.shu a {
    color: #f46;
    font-size: 24px;
    font-weight: 700;
}

.tit {
    background-color: #008dff;
    padding: 0 20px 0 30px;
    height: 62px;
    line-height: 62px;
}

.tit a {
    font-size: 20px;
    color: #fff;
}

.com-title {
    padding: 30px 0;
    text-align: center;
}

.com-title span em {
    font-size: 36px;
    vertical-align: middle;
}

.com-title span:before {
    left: -180px;
    background: url(../img/bg_tl.png) no-repeat;
}

.com-title span:after {
    right: -180px;
    background: url(./img/bg_tr.png) no-repeat;
}

.leftguanggao {
    position: fixed;
    left: 0px;
    top: 30%;
    z-index: 999;
}
.rightguanggao{
    float: right;
    z-index: 999;
}

@media (max-width: 1900px) {
    .rightguanggao{
        width:6%;
    }
    .leftguanggao{
        width:10%;
    }
}
@media (min-width: 1700px) {
    .rightguanggao{
        width:200px;
        margin-right:90px;
    }
    .leftguanggao{
        width:200px;
    }
    .container{
        width:1560px;
    }
}