#nav-head{
    height: 172px;
    width:1400px;
    background:url(../img/bg-4.jpg) repeat-x 0 30px;
}
#picture{
    width:84px;
    height:172px;
    margin-top: 60px;
    margin-left: 40px;
    border-radius: 50%;
}
#picture img{
    width:84px;
    height:90px;
    margin-top: 60px;
    margin-left: 40px;
}
#head-text p{
    margin-top: 60px;
    margin-left: 40px;
    font-size: 20px;
    color:#fff;
    font-weight: bold;
}
#head-text span{
    font-size: 14px;
}
#head-text a{
    font-size: 14px;
    color:#fff;
}
#leftnav{
    background-color: #fff;
    position: relative;
    float: left;
    top:20px;
    width:140px;
}
#leftnav ul{
    margin-top: 20px;
    margin-left: 20px;
}
#cap2{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
#center{
    position: relative;
    top: 20px;
    left: 80px;
}
#content{
    margin-top: 20px;
    margin-left: 20px;
}

/*我的资料页面样式开始*/
.username{
    float: left;
    width:100px;
    height:22px;
}
.username span{
    height: 40px;
    font-size: 16px;
}
.inp{
    float: left;
    width:169px;
    height:40px;
}
.id_img{
    float: left;
}
.id_img .image{
    margin-left:100px;
}
.renzheng{
    margin-top:270px;
}
.renzheng span{
    font-size: 16px;
}
/*我的资料页面样式结束*/

/*认证页面开始*/
.title{
    font-size: 20px;
    font-weight: bold;
    height:40px;
    width:120px;
}
/*认证页面结束*/
/*我的发布页面开始*/
#title{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid #f46;
    width:120px;
}
#title2{
    background-color: #fff;
    height: 60px;
    width:980px;
    list-style: none;
    text-align: center;
    margin-left: 10px;

}
#title2 li{
    display: inline;
    line-height: 40px;
    float:left;
    border-right: 1px #999;
    padding: 10px 42px;
    font-size: 16px;
    color: #999;
}
.info{
    background-color:#fff;
    height: 290px;
    width:960px;
    margin-top:50px;
    margin-left: 10px;
}
.info strong{
    font-size: 24px;
    color: #333;
    font-weight: 400;
}
#icon{
    font-size: 24px;
    color: #01d1c1;

}
.info ul{
    list-style-position: inside;
    padding: 10px 0 0 36px;
    font-size: 16px;
    line-height: 2;
    color: #666;
}
.userlist{
    margin-top: 10px;
    border-top-width: 1px;
    border-top-style:solid;
    border-color: #ff6700;
    padding-bottom: 100px;
    background-color:#fff;
    height:120px;
    width:960px;
}
.userimg img{
    margin-left: 40px;
    margin-top:15px;
    border-radius: 50%;
    width: 84px;
    height: 90px;
    float: left;
}
.username{
    text-align: center;
}
.username a{
    float: left;
    font-size:20px;
    width:100px;
    text-align: left;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.42857143;
}
#caps p{
    height: 30px;
}
/*我的发布页面结束*/

/*超小屏幕 小于等于768px*/
@media (max-width: 500px) {
    #center{
        width:800px;
    }
    .suofang{
        transform:scaleX(0.5);
    }
}

